<h1>Convert <%=@from_symbol%> to <%=@to_symbol%></h1>

<p><%=@amount%> <%=@from_symbol%> equals <%=@rate%> <%=@to_symbol%>.</p>

<p>Go <a href="/forex/<%=@from_symbol%>">back</a>.</p>


<div>
<%#= @symbols_hash1%>

<%#= @from_symbol%>
<%#= @to_symbol%>

<%#= @amount%>
</div>

<div>
<%#= @symbols_hash2%>
</div>

<%#= @url%>